.expand-container{
    display: flex;
    height: 200px;
    padding: 80px;
}
.expand-details{
    display: flex;
    flex-direction: column;
}
.expand-product-name{
    font-size: 50px;
    margin-bottom: 5px;
}
.expand-product-price-name{
    font-size: 20px;
    margin: 4px;
}
.expand-units{
  font-weight:bold;
  margin-top: 6px;

}
.expand-main-img{
    height: 250px;
    margin-right: 150px;
    margin: 200p;
}
.expand-quantity-counter{

    height: 25px;
    width: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 5px;
    margin-bottom: 10px;
}
.img-icon{
    padding: 1px 5px;
    height: 3px;
    cursor: pointer;
}
.expand-quantity{
    padding: 2px 0px;
}
.expand-select{
    width: 100px;
    margin-bottom: 5px;
}
.expand-buttons-container{
    display: flex;
    justify-content: space-between;
}
.expand-btn{
    padding: 0px 28px;
    margin: 6px 60px;
    height: 40px;
    width: 190px;
    cursor: pointer;
}
.add-to-cart{
    border: 2px solid #24463c;
    background-color: transparent;
}
.Buy-it-now{
   background-color:  #24463c;
   border: none;
   color: white;
}