.expand-container{
    display: flex;
    height: 200px;
    padding: 50px;
}
.expand-details{
    display: flex;
    flex-direction: column;
}
.expand-main-img{
    height: 250px;
    margin-right: 150px;
    margin: 200p;
}
.expand-quantity-counter{
    margin: 5px ;
    height: 25px;
    width: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 5px;
}
.img-icon{
    padding: 1px 5px;
    height: 3px;
    cursor: pointer;
}
.expand-quantity{
    padding: 2px 0px;
}
.expand-select{
    height: 25px;
}