.service-heading{
    text-align: center;
}





  
  .services-section {
    padding: 40px;
    text-align: center;
  }
  
  .services-section h2 {
    margin-bottom: 30px;
    font-size: 28px;
  }
  
  .services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  }
  
  .service-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .service-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .service-card p {
    font-size: 16px;
    color: #555;
  }
  
