.blog-page{
    width: 100%;
}
.blog-container{
   text-align: center;
}
.btn-container button{
     display: block;
     margin: 0 auto;
}
.component-cards{
    display: flex;
    justify-content: space-between;
    width: 90%;
    flex-wrap: wrap;
    margin: 0 auto;
}