.veg-img{
height: 15vh;
display: block;
margin: 0px auto;
}
.veg-continer{
    height: 250px;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(243, 238, 231);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.btn-continer{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
margin-top: 40px;
}
.card-btn{
    padding: 1vh 4vw;
    background-color: rgb(199, 193, 117);
    border: none;
    cursor: pointer;
}
.info{
    width: 100%;
}