header {
    width: 100vw;
    height: 7vh;
    background-color: rgba(128, 128, 128, 0.563);
    display: flex;
    justify-content: end;
    align-items: center;
    

}

.container {
    margin-right: 60px;
    display: flex;
    gap: 20px;

}

span {
    font-size: large;
    padding-right: 20px;
}
.nav{text-decoration: none;

}