.header {
    width: 100vw;
    height: 9vh;
    background-color:rgba(38,65,52,255);
    display: flex;
    justify-content: end;
    align-items: center;
    


}

.nav-container {
    margin-right: 60px;
    display: flex;
    gap: 20px;

}


.nav{text-decoration: none;
    font-size: large;
    

}