@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
.footer {
    height: auto;
    padding: 0px 0;
    color: beige;
    width: 100%;
     font-family: "SUSE", sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #375241;
    padding: 20px 20px 0px 20px;

}

.footer-logo {
    height: 120px;
    padding-bottom: -40px;
}

.footer-para {
    text-align: justify;
    width: 300px;
    padding-left: 10px;
    
}

.footer-Agro,
.footer-links,
.footer-contact {
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-li-container{
    margin-top: 20px;
}
.footer-li{
    color: beige;

}
.footer-headding {
    font-size: 1.5em;
    margin-bottom: -12px;
    font-weight: bolder;
    display: block;
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
}
.footer-headding:hover {
    color: #1f7964;
}

.footer-img1 {
    height: 30px;
    position: relative;
    top: 12px;
    margin-right: 12px;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.792);
    font-weight: 700;
}

a:hover {
    color: #1f7964;
}

.footer-logo-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0;

}

.footer-img {
    height: 30px;
    margin: 0 10px;
}

.footer-copyright {
    text-align: center;
    font-size: 1em;
}

ul {
    list-style-type: none;
}

.footer-links-copyright {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    height: 40px;
    background-color: #264134;

}

@media screen and (max-width: 450px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: center;
    
    }
    .footer-logo{
        height: 120px;
        display: block;
        margin: auto;
    }
    .footer-links-copyright {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

}                                
@media screen and (min-width: 450px) and (max-width: 800px) {
    .footer-container {
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: center;
    
    }
}
@media screen and (min-width: 769px) and (max-width: 992px) {}
@media screen and (min-width: 993px) and (max-width: 1200px) {}
@media screen and (min-width: 1201px){}