footer{
    width: 100vw;
    height: 5vh;
    position: fixed;
    bottom: 0px;
    background-color: rgba(128, 128, 128, 0.563);
    display: flex;
    justify-content: space-around;
}

.content{
    margin: 5px auto;
}