*, body{
    margin: 0;
    padding: 0;
    
    
}  body{overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    width: 100%;


}
body::-webkit-scrollbar{
    display: none;

}
html{
    scroll-behavior: smooth ;
}